<div class="card">

  <div class='item-info'>
  <table>
    <%# @user.each do |user| %>
    <tr>
        <th class="lecture_col1">分野</th>
        <td class="lecture_col2"><%= "幼児教育" %></td>
        <th class="lecture_col1">講義名</th>
        <td class="lecture_col2"><%= @user.last_name + " " + @user.first_name + "(" + @user.last_name_reading + @user.first_name_reading + ")" %></td>
        <th class="lecture_col1">講義時間</th>
        <td class="lecture_col2"><%= WorkerPrefecture.find(@user.worker_prefecture_id).name %></td>
        <th class="lecture_col1">受講日</th>
        <td class="lecture_col2"><%= @user.childcare_worker_number %></td>
        <th class="lecture_col1">講師名</th>
        <td class="lecture_col2"><%= "講師名" %></td>
    </tr>
  </table>
  <div class ="total">時間
  </div>
  </div>
</div>
<%# end%>