<main class="top-main">
  <div class="back-ground-img">
    <%# ログインしているときは以下を表示する %>
    <div class="top-contents">
      <div class="greeting">
          <%= link_to  current_user.first_name, user_path(current_user),class: :greeting__link%>
          さん
      </div> 
      
      <%# // ログインしているときは上記を表示する %>
      <div class="card__wrapper">
        <%# リンク 一覧%>

        <%= link_to "マイページ", user_path(current_user.id), method: :get, class: :nav_top__btn %>
        <%= link_to '登録情報編集',  edit_user_registration_path(current_user.id) , class: :nav_top__btn %>  

        <%# 登録してたら編集画面表示 %>
        <% if @user_category.nil? %>
          <%= link_to "詳細内容登録", new_care_path, class: :nav_top__btn %>
        <% else %>
          <%= link_to "詳細内容編集", edit_care_path(current_user.id), method: :get, class: :nav_top__btn %>
        <% end %>
          <%= link_to "新規講習内容登録",  lecture_new_cares_path, class: :nav_top__btn %>
      </div>
    </div>
  </div>
</main>