<main class="main">
  <div class="inner">
    <%# ログインしているときは以下を表示する %>
    <%  if user_signed_in? %>
     <div class="greeting">
       こんにちは、
         <%= link_to  "current_user.name", class: :greeting__link%>
         さん
      </div> 
    
    <%# // ログインしているときは上記を表示する %>
    <div class="card__wrapper">
      <%# 投稿機能実装後、部分テンプレートでプロトタイプ投稿一覧を表示する %>
      <%= link_to "マイページ", new_user_session_path, class: :nav__btn %>
      <%= link_to "パスワード編集", edit_password_path, class: :nav__btn %>
      <%= link_to '名前・生年月日編集', edit_name_path , class: :nav__btn%>
       <%= link_to '住所編集', edit_address_path , class: :nav__btn%>
      <%= link_to "講義内容登録", new_user_registration_path, class: :nav__btn %>
      <% end %>
    </div>
  </div>
</main>
