<div class="main">
  <div class="inner_sub">
    <div class="user__wrapper">
    <div>
      <div class="my-page-nav">
        <div class="page-name">
          |<%= @user.first_name %>さんの My page |
        </div>
          <div class="user-delete">
            <% if  admin_signed_in? %>
              <%= link_to "ユーザー削除", destroy_user_user_path(@user), method: :delete, data: { confirm: "ユーザーを削除しますか？" }, class: :user_delete_btn %> 
            <% end %>
          </div>
      </div>
    </div>
      
      
      
       <div class="table_wrapper">
       <table class="table">
        <tbody>
          <tr>
            <th class="table__col1">名前</th>
            <td class="table__col2"><%= @user.last_name + " " + @user.first_name + " (" + @user.last_name_reading + " " + @user.first_name_reading + ")" %>
            <% if user_signed_in? %>
            <%= link_to '登録編集',  edit_other_info_user_path(@user), class: :nav_top__btn %> </td>
            <% end %>
          </tr>
          <tr>
            <th class="table__col1">登録地</th>
            <td class="table__col2"><%= WorkerPrefecture.find(@user.worker_prefecture_id).name %></td>
          </tr>
          <tr>
            <th class="table__col1">保育士番号</th>
            <td class="table__col2"><%= @user.childcare_worker_number %></td>
          </tr>
          <tr>
            <th class="table__col1">所属園</th>
            <td class="table__col2">
             <% if @user_category %>
                <%= @user_category.affiliation %>
              <% else %>
                表示なし
              <% end %>
              </td>
          </tr>
        </tbody>
      </table>

        <table class="table">
        <tbody>
          <tr>
            <th class="table__col1">就業日</th>
            <td class="table__col2">
             <% if @user_category %>
               <%= @user_category.employment %>
             <% else %>
               表示なし
             <% end %>
             <% if @user_category.nil? %>
              <%= link_to "登録", new_care_path, class: :nav_top__btn %>
            <% else %>
              <%= link_to "編集", edit_care_path(@user_category), method: :get, class: :nav_top__btn %>
            <% end %>
            </td>
          </tr>
          <tr>
            <th class="table__col1">実務年数</th>
            <td class="table__col2" id="total_year">
             <% if @user_category %>
             <div id="employmentDate" data-employment="<%= @user_category.employment.strftime('%Y-%m-%d') %>"></div>
                <%= @user_category.employment %>
              <% else %>
                表示なし
              <% end %>
              
            </td>
          </tr>
          <tr>
            <th class="table__col1">リーダー</th>
            <td class="table__col2">
              <% if @user_category && @user_category.rank_id %>
               <%= Rank.find(@user_category.rank_id).name %>
              <% else %>
                表示なし
              <% end %>
            </td>
          </tr>
          <tr>
            <th class="table__col1">履修</th>
            <td class="table__col2">
              <% if @user_category && @user_category.complete_id %>
                <%= Complete.find(@user_category.complete_id).name %>
              <% else %>
                表示なし
              <% end %>
            </td>
          </tr>
          
        </tbody>
      </table>
      </div>
      <div class="page-lecture">
       <h2 class="page-heading">
        講習一覧
        </h2>
  
        <p class="total-time">講義合計時間:</p><p id="total-time">合計時間: 0 分</p>
      </div>
      <div class="user__card">
        <%= render "cares/lecture" %> 
      </div>
    </div>
  </div>
</div>